@import '../../../../assets/styles/variables';

.disruption-detail__affected-entities__button-icon {
    width: 2em;
}

.disruption-detail__affected-entities__button-span {
    width: calc(100% - 2em);
    text-align: left;
}

.disruption-detail__affected-entities__button {
    height: auto !important;
}

.disruption-summary {

    td:first-child {
        white-space: nowrap;
    }

    td:last-of-type {
        white-space: pre-line;
    }
}

// TODO: Remove when the new view design is merge.
.expandable .disruption-creation__wizard-select-details__icon {
    display: none;
}
