@import '../../../../assets/styles/variables';

.disruption-detail__effected-routes__button-icon {
    width: 2em;
}

.disruption-detail__effected-routes__button-span {
    width: calc(100% - 2em);
    text-align: left;
}

.disruption-detail__effected-routes__button {
    height: auto !important;
}

.disruption-summary {

    td:first-child {
        white-space: nowrap;
    }

    td:last-of-type {
        white-space: pre-line;
    }
}
