@import '../../assets/styles/variables';

.real-time-primary-panel {

    .omni-search {
        margin: $real-time-side-panel-search-spacing 0;

        .search__clear {
            top: 7px;
            right: $real-time-side-panel-search-spacing + 10;
        }

        .search__loader {
            position: static;
            margin: 0 10px;
        }

        .search__autosuggest {
            padding: 0 $real-time-side-panel-search-spacing;
        }

        .search__input {
            height: $real-time-side-panel-search-input-height;
            line-height: $real-time-side-panel-search-input-height;
            box-shadow: $box-shadow-sm;
        }

        .search__dropdown {
            margin-top: $real-time-side-panel-search-spacing;
            margin-bottom: 0;
            margin-left: -$real-time-side-panel-search-spacing;
            margin-right: -$real-time-side-panel-search-spacing;
            max-height: $real-time-side-panel-search-panel-height;
        }

        .search__input--open + .search__dropdown,
        .search--loading .search__dropdown {
            min-height: $real-time-side-panel-search-panel-height;
        }

        .search__label {
            display: inline-block;
            padding-bottom: 8px;
            font-size: 14px;
            font-weight: bold;
            color: #2C384C;
        }

        .search__reset {
            height: $real-time-side-panel-search-input-reset-height;
            background-color: transparent;
            border: none;
            cursor: pointer;
            color: #2D7CAF;
            padding: 20px 0 0;
        }

        .search__reset:hover {
            text-decoration: underline;
        }

        .react-select {
            &__container {
                padding: 0 $real-time-side-panel-search-spacing;
            }

            &__menu {
                margin-top: $real-time-side-panel-search-spacing;
                margin-bottom: 0;
                margin-left: -$real-time-side-panel-search-spacing;
                margin-right: -$real-time-side-panel-search-spacing;
            }

            &__menu-list {
                max-height: $real-time-side-panel-search-panel-height;
                padding: 0;
            }

            &__control {
                min-height: $real-time-side-panel-search-input-height;
                box-shadow: none;
                border-color: #152239;
                font-weight: 300;
                flex-wrap: nowrap;
            }

            &__group {
                border-top: 1px solid #DEE2E6;
                padding: 0;
            }

            &__group-heading {
                font-size: 14px;
                color: #2C3847;
                text-transform: uppercase;
                text-align: left;
                padding: 15px 15px 0;

                div:nth-child(1) {
                    font-weight: bold;
                    display: inline-block;
                }

                div:nth-child(2) {
                    float: right;
                    text-transform: none;
                }
            }

            &__option {
                background-color: transparent;
                padding: 8px 15px;

                label {
                    font-size: 14px;
                    color: #2C384C;
                }

                input {
                    width: 26px;
                    height: 26px;
                    float: right;
                    position: relative;
                }
            }

            &__menu-notice--no-options {
                text-align: left;
            }

            &__value-container {
                flex-wrap: wrap;
            }

            &__multi-value {
                background-color: #E7E8EB;
            }

            &__multi-value:hover {
                background-color: #276C98;

                & .react-select__multi-value__label,
                & .react-select__multi-value__remove {
                    background-color: #276C98;
                    color: white;
                }
            }

            &__multi-value__label {
                color: #152239;
                font-size: 16px;
                font-weight: normal;
                background-color: #E7E8EB;
            }

            &__multi-value__remove {
                color: #152239;
                background-color: #E7E8EB;
            }

            &__multi-value__remove:hover {
                cursor: pointer;
            }
        }
    }

    &.side-panel--active {
        .omni-search {
            .search__input {
                box-shadow: none;
            }
        }
    }
}
