# dependencies
node_modules
yarn.lock

# build & test results
build
test-reports
cypress/screenshots
.scannerwork
.nyc_output
# ide
.idea
*.iml

storybook-static
__opensource__
.DS_Store
# Ignore Jest snapshot files
*.snap