@import '../../../../assets/styles/variables';

.entity-popup {
    width: 480px;

    .entity-popup-title {
        margin: 0 12px 9px 0;
        font-size: 16px;
        font-weight: bold;
    }

    .entity-popup-content {
        font-size: 14px;
        line-height: 1.5;
        margin-bottom: 10px;
    }

    .entity-popup-back-btn {
        padding: 0 0 0 8px;
    }
}
