@import '../../../../assets/styles/variables';

.disruption-creation__wizard-select-details__select,
.disruption-creation__wizard-select-details__select:focus {
    background-color: transparent !important;
}
.disruption-effect-button {
    border: 0 !important;
    background-color: transparent !important;
}

.disruption-effect-button.add-disruption-button {
    padding-left: 30px;
}

.disruption-display-block {
    display: block;
    width: 100%;
}

.react-select__menu {
    z-index: 2 !important;
}

.control-incidents-view {
    .sidepanel-control-component-view {
        & .side-panel {
            overflow-x: hidden;
        }
        & .side-panel__scroll-size {
            height: calc(100vh - 149px);
        }

        & .loader,
        & .loader-disruptions {
            left: 50%;
            z-index: 501;
            top: 50%;
            width: 50px;
            height: 50px;
        }

        & .loader-disruptions-list {
            height: 20px;
            width: 20px;
            top: 100%;
        }

        & .sidepanel-primary-panel {
            width: $side-panel-width-large;
        }

        footer {
            width: $side-panel-width-large;
        }

        .map {
            margin-left: $side-panel-width-large;
            &.edit-effect-panel-expanded {
                margin-left: calc(#{$side-panel-width-large} * 2);
            }

            &.workaround-panel-expanded {
                margin-left: calc(#{$side-panel-width-large} * 3);
            }
        }

        select {
            z-index: 1 !important;
            appearance: none;
        }

        .p-lr12-tb6 {
            padding: .375rem .75rem;
        }

        .workaround-search-input {
            padding: .375rem .75rem;
            background: transparent;
            border-radius: 0;
            border: none;
            border-bottom: 1px solid rgb(206, 212, 219);
        }

        .workaround-search-input:focus {
            border: none;
            border-bottom: 1px solid rgb(206, 212, 219);
            box-shadow: none;
        }

        .label-with-icon {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .collapse-icon {
            padding-right: 15px;
            cursor: pointer;
        }

        .add-effect-button-wrapper {
            width: 100%;
            justify-content: end;
            display: flex;

            .add-effect-button {
                float: right;
                color: $at-shore;
                border: 0 !important;
                background-color: transparent !important;
                font-weight: bold;
            }

            .disabled {
                color: $at-bk-gray !important;
            }
        }

        & .handler-wrap {
            display: flex;
            align-items: center;
            left: calc(#{$side-panel-width-large} + #{$side-panel-width-large} - 55px);
            position: fixed;
            z-index: 500;
            top: 150px;

            & .button-container {
                display: flex;
                align-items: center;
            }
            & .handler {
                transform: rotate(90deg);
                text-transform: none;
                top: 45%;
                border-radius: 4px 4px 0 0;
                background-color: $at-shore;
                white-space: nowrap;
                width: 150px;
            }
        }

        .incident-footer-min-height {
            min-height: 89px;
        }
    }

    .disruption-creation-close-disruptions {
        background-color: $at-shore;
        color: #FFF;
        height: 52px;
        left: auto;
        margin-top: 60px;
        right: 0;
        width: 100px;

        &:hover {
            background-color: $at-shore;
            color: #FFF;
        }

        & .disruption-creation-close {
            color: #FFF;
        }
    }

    footer {
        background-color: #FFF;
        border-top: 1px solid $at-light-gray;
        bottom: 0;
        width: $side-panel-width;
        z-index: 1;

        & .cc-btn-link {
            text-decoration: underline;
        }
    }

    .background-color-for-disabled-fields {
        background-color: #E9ECEF;
    }
}

.disruption-creation__wizard-select-address__search {
    z-index: 1030;
    .omni-search {
        .search__icon,
        .search__clear {
            top: 5px;
        }

        .search__section-title:empty {
            border: none;
        }
    }
}

.disruption-creation__wizard-select-address__map {
    height: 330px;
}

.disruptions-creation__wizard-footer {
    height: 89px;
}

.disruption-creation__wizard-select-address {
    .cc__picklist-pane-right {
        background: tint($at-ocean, 10%);
    }
}

.disruption-creation__wizard-select-details {
    &__icon {
        color: $at-shore;
        right: 10px;
        top: 40px;
        z-index: 0;
    }

    & &__select:hover,
    &__icon {
        cursor: pointer;
    }

    & &__select,
    & &__select:focus {
        background: transparent;
    }

    &__vehicle-icon svg {
        fill: $at-ocean;
        width: 16px;
    }

    &__selected-routes {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
    }

    & .disruption__affected-entities {
        max-width: 100%;
        padding: 0;

        & .collapse:not(.show) {
            height: 10rem;
        }

        & .collapsing {
            height: 10rem !important;
        }
    }
}

#disruption-creation__wizard-select-details {
    &__start-date,
    &__end-date {
        background-color: transparent !important;
        position: relative;
        z-index: 1;
    }
}

.disruption-creation__container,
.disruption-edit__container {
    height: auto;
    box-sizing: border-box;
    background-color: #FFF;

    & .border-primary {
        border: none !important;
    }
    .optional-text {
        line-height: 1;
    }
    .workaround-input {
        padding-left: 25px;
        padding-right: 25px;
    }
}

.disruption-creation__steps {
    margin-bottom: 30px;

    & ol {
        display: flex;
        margin: 0;
        list-style: none;
        justify-content: space-evenly;
        padding: 0;

        li {
            --size: 32px;
            counter-increment: step-counter;
            display: block;
            font-weight: lighter;
            font-size: 14px;
            height: var(--size);
            line-height: var(--size);
            position: relative;
            padding-left: var(--size);

            &:before {
                border-radius: 50%;
                content: counter(step-counter);
                color: $at-dark-blue;
                background-color: $at-light-gray;
                height: var(--size);
                left: -12px; //calc(-1 * var(--size) - 10px);
                line-height: var(--size);
                position: absolute;
                text-align: center;
                top: 0;
                width: var(--size);
            }

            &.active:before {
                background-color: $at-dark-blue;
                color: $at-light-gray;
                font-weight: 400;
            }

            &:not(:last-of-type):after {
                content: '';
                border-bottom: 1px solid $at-light-gray;
                height: 1px;
                width: 40px;
                vertical-align: middle;
                position: absolute;
                right: -50px;
                top: 50%;
                bottom: 50%;
            }

            hr {
                display: inline-block;
                border: 1px solid $at-light-gray;
                height: 0;
                margin: 0 0 0 30px;
                width: 20px;
                vertical-align: middle;
            }
        }
    }
}

.select_disruption {
    .picklist-pane__inner {
        overflow: visible !important;
    }

    .picklist-pane__search-container {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    .cc__picklist-pane-vertical {
        .picklist__list {
            background-color: #FFF;
            overflow: visible;
            padding-left: 1.5rem !important;
            padding-right: 1.5rem;
            position: relative;
            z-index: 1;
        }
    }

    .cc__picklist-pane-bottom {
        background-color: $very-light-blue;
        height: calc(100vh - 411px);
        overflow: auto;
    }
}

.select_entities {
    input[type="checkbox"] {
        width: 25px;
        height: 25px;
    }

    label {
        vertical-align: middle;
    }

    &__subtitle {
        display: flex;
        justify-content: space-between;
    }
    & .checkbox-container {
        align-items: flex-start;
        display: flex;
        .small {
            height: 20px;
            width: 20px;
        }
        .medium {
            height: 25px;
            width: 25px;
        }
    }
}

button.continue {
    color: white !important;
    font-weight: 500 !important;
}

.toggle-button-space {
    display: inline-block;
    width: 32px;
}

.disruption-creation__checkbox {
    input[type="checkbox"] {
        width: 20px;
        height: 20px;
        position: relative;
    }

    span {
        vertical-align: text-bottom;
    }
}

.disruption-creation__disruption-type {
    & label:nth-of-type(2) {
        margin-left: 1.5rem !important;
    }
}

.select-stops-route {
    .selection-item-body {
        padding-top: 0;
    }

    .select-stops-route-direction {
        border: 0;

        .expandable,
        .expandable__header__expand,
        .expandable__body {
            border: 0;
        }

        .picklist__list-btn {
            font-weight: normal;
        }

        .selection-item-body {
            padding-top: 1.25rem;
        }
    }
}

.disruption-recurrence-invalid {
    font-weight: normal;
    font-size: small;
    color: red;
}

.disruption-workarounds-effects {
    background-color: rgb(242, 243, 245);

    .disruption-effect-item.active {
        background-color: rgb(206, 212, 219);
    }
}

.pointer-event-none {
    pointer-events: none;
}
