@import '../../../assets/styles/variables';

.control-messaging-view__collapse-btn {
    line-height: 12px;
    box-sizing: border-box;
    padding: 0;
    width: 14px;
    font-size: 12px;
    border: 1px solid $at-ocean;
    margin-left: 5px;
    align-items: center;
    align-content: center;
    border-radius: .25rem;
}

.message-modal,
.stop-group-modal {
    .picklist__list {
        height: 100%;
        padding-top: 0 !important;
    }

    .picklist__list-btn.text-left {
        max-height: initial;
    }
}
