.customDataGrid {
    width: 100%;

    p {
        margin-block-start: 1em; // fixes table pagination alignment
    }
}

.MuiDataGrid-columnHeaderTitle,
.MuiDataGrid-columnsPanelRow {
    text-transform: uppercase;
}
