.instructions-panel {
    display: flex;
    flex-direction: column;
    border: 1px solid #CCC;
    font-size: 14px;
    color: #333;
}

.instructions-header {
    font-weight: bold;
    font-size: 18px;
    padding: 8px;
    border-bottom: 1px solid #CCC;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.instructions-content {
    white-space: pre-line;
    overflow-y: auto;
    flex: 1 1 auto;
    max-height: 300px; /* Ensure content stays within parent */
}
