.route-shape-editor-container {
    flex-grow: 1; /* Take up the remaining width */
    height: 100%; /* Full height for the map panel */
    background-color: #FFF;
    position: relative;
}

.leaflet-editing-icon {
    margin-left: -5px !important;
    margin-top: -5px !important;
    height: .9rem !important;
    width: .9rem !important;
    background-color: #DF332A !important;
    border-radius: 50% !important;
    display: inline-block !important;
}

.route-shape-editor-buttons {
    position: absolute;
    top: 10px;
    left: 70px;
    z-index: 1000;
    display: flex;
    gap: 10px;
    pointer-events: auto;
}

.route-shape-editor-bottom-right-panel {
    position: absolute;
    bottom: 20px;
    right: 10px;
    z-index: 1000;
    background: rgba(255, 255, 255, .95);
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .12);
    width: 300px;
}
