@import '../../../assets/styles/variables';

.notificationCell {
    position: relative;

    svg {
        fill: $at-green;
        position: absolute;
    }
}

.row-overwritten {
    color: $at-light-gray;
}
