@import '../../../../../assets/styles/variables';

.search-filters {
    .omni-search {
        .search {
            &__icon,
            &__clear {
                top: 5px;
                opacity: 1;
                outline: none;
            }

            &__loader {
                top: 9px;
            }

            &__section-title:empty {
                border: none;
            }
        }
    }
}
