@import '../../../assets/styles/variables';

.disruption-creation__wizard {
    background-color: #FFF;
}

.control-disruptions-view {
    #disruptions-control-table {
        color: $at-dark-blue;

        & .form-control {
            color: $at-dark-blue;
        }

        & .control-table-list-heading {
            background-color: $at-dark-blue !important;
            color: #FFF !important;
        }
        & .icon-in-progress {
            color: #E30084;
        }
        & .icon-not-started {
            color: #DC831A;
        }

        & .expandable {
            border-color: $ice-blue;
            background-color: #FFF;
            & .expandable__header__expand {
                padding-bottom: 0;
            }
            & .expandable__body {
                background-color: #FFF;
                padding-top: 40px;
            }
        }
        & .expandable__header {
            color: $at-dark-blue !important;
            & .expandable__header__expand {
                border-bottom: 1px solid $ice-blue;
            }
        }

        & .disruption-creation__wizard-select-details__select:hover,
        &__icon {
            cursor: pointer;
        }

        & .disruption-creation__wizard-select-details__select,
        & .disruption-creation__wizard-select-details__select:focus {
            background: transparent;
        }

        & .disruption-creation__wizard-select-details__select:disabled {
            background-color: $at-bk-gray;
        }

        & #disruption-detail__end-date {
            background-color: transparent !important;
            position: relative;
            z-index: 1;
            &:disabled {
                background-color: $at-bk-gray !important;
            }
        }

        & #disruption-detail__start-date svg {
            z-index: 1;
        }

        & .form-control-plaintext {
            height: 38px;
        }
    }

    & .disruption-creation__wizard-select-details__select {
        -moz-appearance: none;
        -webkit-appearance: none;
        padding-right: 35px;
        z-index: 1;
    }

    & .control-disruptions-view__header {
        display: flex;
        justify-content: space-between;

        & .disruption-creation__create-button {
            color: white !important;
            font-weight: 500 !important;
        }
    }

    & .disruption-detail__checkbox {
        input[type="checkbox"] {
            width: 20px;
            height: 20px;
        }

        & span {
            vertical-align: text-top;
        }
    }
}

.table__column--ellipsis {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}
