@import '../../../../assets/styles/variables';

.table td.trip-replay-progress {
    &__fixed-table-cell--stop {
        width: 80px;
    }

    &__fixed-table-cell--scheduled-time {
        width: 110px;
        padding-left: 5px;
        padding-right: 5px;
    }

    &__fixed-table-cell--time {
        width: 110px;
        padding-left: 5px;
        padding-right: 5px;
    }

    &__fixed-table-row--canceled {
        background-color: #FDEAE9 !important;
    }
}

.alert-icon {
    align-self: auto;
    flex-basis: fit-content;

    & svg {
        height: 14px;
        width: 16px;
        stroke: #FFF;

        & path {
            fill: map_get($theme-colors, "at-magenta");
        }
    }
}

.trip-progress {
    .search-query {
        display: flex;
        margin-left: 0;
    }

    .vehicle-status-tripId {
        background-color: $at-bk-gray;

        & > .font-size-md {
            font-size: $font-size-base;
            color: $at-gray;
        }
    }

    .vehicle-status-card {
        display: flex !important;
        flex: 1 !important;
        flex-direction: row !important;
        border-radius: 0 !important;

        &:hover {
            background-color: #F3F4F5;
        }
    }

    .vehicle-status-card-body {
        display: flex !important;
        padding: 1rem !important;

        & > .vehicle-status-time {
            justify-content: flex-end;
            align-items: center;

            & > dd {
                margin-bottom: auto;
            }
        }
    }

    .vehicle-position-body {
        display: flex !important;
        align-items: center;

        & > .vehicle-position-time {
            justify-content: flex-end;
            margin-right: 0;

            & > dd {
                font-size: initial;
                font-weight: normal;
                margin-bottom: auto;
            }
        }
    }

    .replay-tab {
        font-weight: bold !important;
    }

    .total-result {
        border-bottom: 1px solid rgba(0, 0, 0, .12);
    }

    .vehicle-position-header {
        display: flex !important;
        align-items: center;
    }

    .vehicle-position-header-border {
        border: 1px solid rgba(0, 0, 0, .12) !important;
    }
}
