@import '../../../assets/styles/variables';

.vehicle-filters-container {
    width: 350px;
    .vehicle-filters-title {
        border-bottom: 2.2px solid $at-bk-gray;
    }
    .vehicle-filters-type {
        button {
            background-color: white;
            font-size: .9rem;
            color: $at-dark-blue;
            border-color: $at-dark-blue;
        }
        button.active {
            background-color: $at-shore !important;
            color: white !important;
            border-color: $at-dark-blue;
        }
    }
    .reset-filters-button {
        color: $at-shore;
        font-size: .9rem;
    }
    .status-filters,
    .occupancy-filters,
    .tags-filters,
    .direction-filters,
    .operators-filters {
        .sub-title,
        label[for="operators-search-input"] {
            font-size: 1.1rem;
            color: $at-dark-blue;
        }
        input[type="checkbox"] {
            width: 18px;
            height: 18px;
            position: relative;
            margin: 0 !important;
        }
        .form-check {
            padding-left: 0 !important;
            .form-check-label span {
                padding-left: .5rem !important;
                font-weight: 400 !important;
            }
            .delay-options-config {
                display: flex;
                flex-direction: column;
                margin-left: 40px !important;
            }
        }
        h6 {
            font-size: 1.1rem;
            margin-bottom: .5rem !important;
        }
    }
    .border-bottom {
        border-bottom: 2.2px solid $at-bk-gray;
    }
    .search__dropdown-menu {
        max-height: 250px;
        overflow-y: auto;
    }
}
