@import '../../../assets/styles/variables';

.vehicle-filters {
    position: absolute;
    width: 300px;
    right: 0;
    padding: 27px;
    z-index: $zindex-dropdown;

    @include transition(background-color .3s ease);

    &--is-active {
        background-color: transparentize($at-ocean, .3);
    }

    &__separator {
        border-top: 0;
        border-bottom: 1px solid $white;
    }
}
