@import '../../../assets/styles/variables';

.btn-group--filter-by-route-type {
    width: 100%;

    .btn {
        position: relative;
        height: 40px;

        &:after {
            content: '';
            display: block;
            position: absolute;
            height: 5px;
            width: 100%;
            bottom: 0;
            left: 0;
            background: $at-shore;
            opacity: 0;

            @include transition(opacity .3s ease);
        }

        &:first-child:after {
            border-bottom-left-radius: calc($btn-border-radius / 2);
        }

        &:last-child:after {
            border-bottom-right-radius: calc($btn-border-radius / 2);
        }

        &--is-active {
            &:after {
                opacity: 1;
            }
        }
    }
}
