@import '../../../../assets/styles/variables';

.sort-btn {

    .sort-btn__inner-btn {
        opacity: .3;

        &.active {
            opacity: 1;
        }

        > svg {
            &:first-child {
                margin-bottom: -6px;
            }

            &:last-child {
                margin-top: -6px;
            }
        }
    }
}
