<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".json" mimeType="application/json" />
            <mimeMap fileExtension=".js" mimeType="text/javascript" />
            <mimeMap fileExtension=".txt" mimeType="text/plain;charset=UTF-8" />
        </staticContent>
        <rewrite>
            <rules>
                <rule name="HTTP to HTTPS redirect" stopProcessing="true"> 
                    <match url="(.*)" /> 
                    <conditions> 
                        <add input="{HTTPS}" pattern="off" ignoreCase="true" />
                    </conditions> 
                    <action type="Redirect" redirectType="Permanent" url="https://{HTTP_HOST}/{R:1}" />
                </rule>
                <rule name="Main Rule" stopProcessing="true">
                    <match url=".*" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="/" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
    <location path="status.json">
        <system.webServer>
            <staticContent>
                <clientCache cacheControlCustom="private" cacheControlMode="DisableCache" />
            </staticContent>
        </system.webServer>
    </location>
</configuration>
