@import '../../../../../assets/styles/variables.scss';

.select_disruption {
    .active-incident-effect {
        margin: 4px;
        border: 2.5px solid $at-shore;
        border-radius: .25rem;
    }
}

.creation-flow-select-entities {
    .selection-container {
        margin-left: 15px;
        margin-right: 15px;
    }
}
