@import '../../../../../assets/styles/variables.scss';

.select_disruption {
    .active-incident-effect {
        margin: 8px;
        border: 2.5px solid $at-shore;
        border-radius: .25rem;
    }
}
