@import '../../../assets/styles/variables';

.custom-collapse__contain {
    & .collapse:not(.show) {
        display: block;
        height: 17rem;
        overflow: hidden;
    }

    & .collapsing {
        height: 17rem !important;
        transition: height .35s ease;
    }

    &.small {
        & .collapse:not(.show) {
            height: 10rem;
        }

        & .collapsing {
            height: 10rem !important;
        }
    }

    &.tiny {
        & .collapse:not(.show) {
            height: 7.5rem;
        }

        & .collapsing {
            height: 7.5rem !important;
        }
    }
}
