.detailPanel-magnify-button {
    position: absolute;
    z-index: 999;
    right: 15px;
    top: 20px;

    &.magnify {
        position: fixed;
        top: 90px;
        right: 25px;
    }
}

form.magnify {
    position: fixed;
    top: 80px;
    bottom: 0;
    right: 3px;
    left: 20px;
    background: white;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-bottom: 30px;
}

.icon-in-progress {
    color: #E30084;
}
.icon-not-started {
    color: #DC831A;
}

.incidents-custom-data-grid-fit-content {
    height: fit-content;

    .MuiDataGrid-root {
        div:nth-of-type(2) {
            height: fit-content !important;
            padding: 0 !important;
        }
    }
}

.incidents-custom-data-grid-child-row {
    background-color: #FFFFFF;
}

.incidents-custom-data-grid-child-row.Mui-hovered,
.incidents-custom-data-grid-child-row:hover {
    background-color: #FCFCFC !important;
    border: solid .5px #AFAAAA;
    border-radius: .25px;
}

.incidents-custom-data-grid-parent-row {
    background-color: #F3F4F5;
    div[data-field="__detail_panel_toggle__"] svg {
        visibility: hidden;
    }
}
