@import '../../../assets/styles/variables';

.incident-creation__wizard {
    background-color: #FFF;
}

.control-incidents-view {
    #incidents-control-table {
        color: $at-dark-blue;

        & .form-control {
            color: $at-dark-blue;
        }

        & .control-table-list-heading {
            background-color: $at-dark-blue !important;
            color: #FFF !important;
        }
        & .icon-in-progress {
            color: #E30084;
        }
        & .icon-not-started {
            color: #DC831A;
        }

        & .expandable {
            border-color: $ice-blue;
            background-color: #FFF;
            & .expandable__header__expand {
                padding-bottom: 0;
            }
            & .expandable__body {
                background-color: #FFF;
                padding-top: 40px;
            }
        }
        & .expandable__header {
            color: $at-dark-blue !important;
            & .expandable__header__expand {
                border-bottom: 1px solid $ice-blue;
            }
        }

        & .incident-creation__wizard-select-details__select:hover,
        &__icon {
            cursor: pointer;
        }

        & .incident-creation__wizard-select-details__select,
        & .incident-creation__wizard-select-details__select:focus {
            background: transparent;
        }

        & .incident-creation__wizard-select-details__select:disabled {
            background-color: $at-bk-gray;
        }

        & #incident-detail__end-date {
            background-color: transparent !important;
            position: relative;
            z-index: 1;
            &:disabled {
                background-color: $at-bk-gray !important;
            }
        }

        & #incident-detail__start-date svg {
            z-index: 1;
        }

        & .form-control-plaintext {
            height: 38px;
        }
    }

    & .incident-creation__wizard-select-details__select {
        -moz-appearance: none;
        -webkit-appearance: none;
        padding-right: 35px;
        z-index: 1;
    }

    & .control-incidents-view__header {
        display: flex;
        justify-content: space-between;

        & .incident-creation__create-button {
            color: white !important;
            font-weight: 500 !important;
        }
    }

    & .incident-detail__checkbox {
        input[type="checkbox"] {
            width: 20px;
            height: 20px;
        }

        & span {
            vertical-align: text-top;
        }
    }
}

.incident-creation__wizard-select-details {
    &__icon {
        color: $at-shore;
        right: 10px;
        top: 40px;
        z-index: 0;
    }

    & &__select:hover,
    &__icon {
        cursor: pointer;
    }

    & &__select,
    & &__select:focus {
        background: transparent;
    }

    &__vehicle-icon svg {
        fill: $at-ocean;
        width: 16px;
    }

    &__selected-routes {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
    }

    & .disruption__affected-entities {
        max-width: 100%;
        padding: 0;

        & .collapse:not(.show) {
            height: 10rem;
        }

        & .collapsing {
            height: 10rem !important;
        }
    }
}

.MuiDataGrid-detailPanel {
    overflow: auto;
}

.vh-50 {
    height: 50vh;
    display: block;
    overflow: auto;
}

.pagination-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
