@import '../../../assets/styles/variables';

.header {
    height: $header-height;

    .header__logo {
        max-width: 50px;
    }

    .header__btn {
        height: $header-height;

        &:hover,
        &.active {
            background-color: tint($at-ocean, 90%) !important;
        }
    }

    .header-dropdown {
        font-family: inherit;
        &.dropdown-menu {
            border-radius: 0 0 .25rem .25rem !important;
            margin: -.05rem 0 0 !important;
        }
        .header-dropdown-item {
            color: white;

            &:hover,
            &.active {
                background-color: tint($at-ocean, 90%) !important;
            }
        }
    }

    .header__toolbar {
        .header__alerts-badge {
            top: 15px;
            right: 18px;
            width: 12px;
            height: 12px;
        }

        svg {
            color: $secondary;
        }
    }

    .header__environment_indicator {
        background-color: $at-red !important;
        display: inline-flex;
        align-items: center;
        height: 100%;
        padding-left: .2em;
        padding-right: .2em;
    }

    .user-manual {
        width: 35px;
    }

    .header__data-management {
        svg > g {
            fill: $secondary;
        }
    }

    .dropdown > .nav-link {
        padding: 0 !important;
    }
}
