@import '../../../assets/styles/variables';

.disruption-filters-block {
    border-top: 2.2px solid $at-bk-gray;

    .layers-sub-title {
        font-size: 1.1rem;
    }
    .disruption-items {
        position: relative;
        overflow: hidden;
        input[type="checkbox"] {
            width: 18px;
            height: 18px;
            position: relative;
        }
    }
}
