.disruption-incident-container {
    margin: 10px;

    .header {
        display: flex;
        align-items: center;
        border-bottom: 1px solid #EEE;
        padding-bottom: 8px;
        margin-bottom: 16px;

        .icon-container {
            display: flex;
            width: 36px;
            height: 36px;
            border: 2px solid #D52923;
            border-radius: 5px;
            margin-right: 15px;
            justify-content: center;
            align-items: center;
        }

        .icon {
            width: 24px;
            height: 24px;
        }

        .title {
            flex-grow: 1;
            margin: 0;
            word-wrap: break-word;
            word-break: break-word;
        }
    }

    .details {
        font-size: 14px;
        width: 480px;

        p {
            width: 100%;
            margin: auto;
            text-align: justify;
            word-break: break-word;
            white-space: pre-line;
            overflow-wrap: break-word;
            hyphens: auto;
        }

        .row {
            display: flex;
            flex-wrap: wrap;
            padding: 0 20px 10px 20px;

            .column {
                flex: 1 1 45%;

                &:last-child {
                    padding-right: 0;
                }

                p {
                    margin: 0;
                }
            }
        }
    }

    .footer {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
