.disruption-marker {
    width: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .pin {
        width: 3px;
        height: 12px;
        margin-right: 2px;
        margin-left: -2px;
        background-color: #D52923;
        border-left: 1px solid #D52923;
        border-right: 1px solid #D52923;
    }

    .icon-container {
        display: flex;
        width: 28px;
        height: 28px;
        border: 2px solid #D52923;
        background-color: white;
        border-radius: 5px;
        margin-right: 5px;
        justify-content: center;
        align-items: center;

        .icon {
            width: 20px;
            height: 20px;
        }
    }
}
