@import '../../../../assets/styles/variables';

.passenger-imact-grid {
    max-width: 1200px;
    text-align: center;
    margin: 20px 0;

    & .customDataGrid {
        background-color: #FFF;
        height: calc(100vh - #{$header-height} - 200px);
        & .cel-wrapper {
            overflow: hidden;
            text-overflow: ellipsis;
        }

        & .MuiDataGrid-footerContainer {
            margin-left: 5px;
        }
    }
}
