@import '../../../assets/styles/variables';

.detailPanel-magnify-button {
    position: absolute;
    z-index: 999;
    right: 15px;
    top: 20px;

    &.magnify {
        position: fixed;
        top: 90px;
        right: 25px;
    }
}

form.magnify {
    position: fixed;
    top: 80px;
    bottom: 0;
    right: 3px;
    left: 20px;
    background: white;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-bottom: 30px;
}

.icon-in-progress {
    color: #E30084;
}

.icon-not-started {
    color: #DC831A;
}

.vh-70 {
    height: 70vh;
}

.grid-height {
    height: 100%;
}

.MuiBox-root {
    .search__clear {
        top: 5px;
        right: 5px;
    }
}

.MuiDataGrid-panelWrapper div.custom-panel-content:first-child {
    overflow: visible;
}

div.custom-filter-value-input {
    width: 400px;
}

.trips-data-grid {
    & .MuiDataGrid-virtualScrollerRenderZone,
    & .MuiDataGrid-pinnedColumns {
        background-color: #F3F4F5;
    }

    & .MuiDataGrid-row {
        &.trips-data-grid__row--completed {
            background-color: tint($at-ocean, 5%);
            &.Mui-hovered {
                background-color: darken(tint($at-ocean, 5%), 10%);
            }
        }

        &.trips-data-grid__row--not-started {
            background-color: $ice-blue;
            &.Mui-hovered {
                background-color: darken($ice-blue, 10%);
            }
        }

        &.trips-data-grid__row--cancelled {
            background-color: tint($at-ocean, 5%);
            &.Mui-hovered {
                background-color: darken(tint($at-ocean, 5%), 10%);
            }
        }

        &.trips-data-grid__row--missed {
            background-color: tint($at-magenta, 5%);
            &.Mui-hovered {
                background-color: darken(tint($at-magenta, 5%), 10%);
            }
        }

        &.trips-data-grid__row--in-progress {
            background-color: $white;
            &.Mui-hovered {
                background-color: darken($white, 10%);
            }
        }
    }
}
