@import "../../assets/styles/variables";

body,
html,
#root {
    height: 100%;
    background: $white;
    overflow: hidden;
}

ul {
    list-style-type: none;
}

button {
    box-shadow: none !important; // overwrites Bootstrap outline
}

.icon {
    width: $icon-width;
    flex: none;
}

.w-35 {
    width: 35%;
}
