@import '../../../../assets/styles/variables';

.side-panel-control-component-view {
    & .side-panel {
        .side-panel__inner {
            box-shadow: none;
        }
    }
    & .side-panel__scroll-size {
        height: calc(100vh - 149px);
    }

    & .side-panel-primary-panel {
        width: $side-panel-width-large;
    }

    .route-variant-select {
        width: 570px;
    }

    .select-main-variant-container {
        margin-bottom: 10px;
    }

    .select-multiple-variants-container {
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .other-route-variant-container {
        display: flex;
        align-items: center;
        gap: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .other-route-variant-text {
        display: inline-block;
        width: 475px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    footer {
        width: $side-panel-width-large;
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: #FFF;
        padding: 1rem;
    }

    .map {
        margin-left: $side-panel-width-large;
        height: calc(100vh - 109px);
    }
}
